.radio-button-icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.text12,
.text13,
.text14 {
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.text13 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 16px;
  flex-shrink: 0;
}
.text14 {
  font-size: var(--font-size-base);
}
.top-text {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text15,
.text16 {
  position: relative;
  line-height: 120%;
}
.text16 {
  font-size: var(--font-size-3xs);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 12px;
  flex-shrink: 0;
}
.bottom-text,
.right-text-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.bottom-text {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.right-text-container {
  flex-direction: column;
  font-size: var(--font-size-xs);
}
.text-container5 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.offer-expired {
  position: relative;
  line-height: 120%;
  font-weight: 500;
}
.tag,
.text-field-1 {
  display: flex;
  align-items: center;
}
.tag {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 62px;
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
  background-color: var(--color-salmon);
  width: 121px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.text-field-1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 2px solid var(--color-silver);
  flex-direction: row;
  padding: var(--padding-base);
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xs);
  color: var(--color-silver);
}
.text18,
.text21 {
  position: relative;
  line-height: 120%;
  justify-content: center;
  flex-shrink: 0;
}
.text18 {
  display: flex;
  align-items: center;
  width: 27px;
  height: 16px;
}
.text21 {
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--color-silver);
  width: 19px;
  height: 12px;
}
.tag1,
.text-field-2,
.text21 {
  display: flex;
  align-items: center;
}
.tag1 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 62px;
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
  background-color: var(--color-mediumseagreen);
  width: 121px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.text-field-2 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-honeydew);
  border: 2px solid var(--color-mediumseagreen);
  flex-direction: row;
  padding: var(--padding-base);
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xs);
}
.radio-button-icon2 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.left-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
}
.text-container7 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.input-container,
.text-field-3 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.text-field-3 {
  border-radius: var(--br-9xs);
  border: 2px solid var(--color-silver);
  flex-direction: row;
  padding: var(--padding-base);
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.input-container {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-roboto);
}
